<div class="filter-container">
  <form action="" [formGroup]="chartForm">
  <mat-form-field appearance="outline" >
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" formControlName="startDate" placeholder="Choose start date">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="endDate" form placeholder="Choose end date">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
</form>
  <button mat-raised-button color="primary" (click)="apply()">Apply</button> 
  <span> filter based on dates Yet to be implement!</span>
</div>

<div class="chart-container">
    <div class="card">
      <h3>Bar Chart</h3>
      <canvas id="barChart"></canvas>
    </div>
    <div class="card">
      <h3>Line Chart</h3>
      <canvas id="lineChart"></canvas>
    </div>
    <div class="card">
      <h3>Doughnut Chart</h3>
      <canvas id="doughnutChart"></canvas>
    </div>
    <div class="card" >
      <h3>Pie Chart</h3>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
  